mixin subItem(title, href)
	li.navigation__subitem
		a.navigation__sublink(href=href)=title

mixin navItem(title, href)
	if href === true
		li.navigation__item.navigation__item--openable
			span.navigation__link=title
			.navigation__subnav
				ul.navigation__sublist
					+subItem('Все', '/laws.html')
					+subItem('Популярные', '/laws.html')
					+subItem('Новые', '/laws.html')
	else
		li.navigation__item
			a.navigation__link(
				href=href
				data-modal-link=attributes['data-modal-link'])=title

mixin navigation
	nav.navigation
		.navigation__bg
		ul.navigation__list
			if block
				block