mixin subItem(title, href)
	li.navigation__subitem
		a.navigation__sublink(href=href)=title

mixin navItem(title, href, hasSub)
	if hasSub === true
		li.navigation__item.navigation__item--openable
			a.navigation__link(href=href)=title
			.navigation__subnav
				ul.navigation__sublist
					+subItem('Все', '#')
					+subItem('Популярные', '#')
					+subItem('Новые', '#')
	else
		li.navigation__item
			a.navigation__link(href=href)=title

mixin navigation
	nav.navigation
		.navigation__bg
		ul.navigation__list
			+navItem('Законы', '#', true)
			+navItem('Новости', '/news.html')
			+navItem('Пользователи', '#')
			+navItem('Обратная связь', '#')