.rating
	text-align center
	
	&__visual
	&__stars
		height 12px
		background-position left center
		background-repeat repeat-x
	
	&__visual
		width 60px
		display inline-block
		bimg(star.gray)
		margin-right 13px
	
	&__stars
		bimg(star.yellow)
	
	&__number
		@extend $small-text
	
		font-family yefimov
		color black