mixin rating(value)
	.rating
		.rating__visual
			// рейтинг есть ширина блока rating__stars
			// указывается ширина в процентах соответственно рейтинга
			.rating__stars(style='width:'+value+'%')
		span.rating__number!=value/10