.rating
	text-align center
	
	&__visual
		bicon(star.gray, 12)
		
		width 60px
		display inline-block
		margin-right 13px
	
	&__stars
		bicon(star.yellow, 12)
	
	&__visual
	&__stars
		height 12px
		background-position 0 50%
		background-repeat repeat-x
	
	&__number
		@extend $small-text
	
		font-family yefimov
		color black