mixin usage
	.usage
		if block
			block

mixin usItem(link, img, title, text)
	article.usage__item
		.usage__content
			.usage__face
				img.usage__img(
					src=img
					alt='')
			.usage__desc
				.usage__name!=title
				.usage__text!=text
				//- +expand(10)
				//- 	p.usage__text!=text