.social
	&--righted
		text-align right
		
	&__link
		@extend $font-reset
		slow(opacity)
		
		display inline-block
		opacity .15
		
		&--gh
			&:before
				bicon(social.gh, 32)
		
		&--gp
			&:before
				bicon(social.gp, 32)
		
		&--ms
			&:before
				bicon(social.ms, 32)
		
		&--fb
			&:before
				bicon(social.fb, 32)
		
		&--tw
			&:before
				bicon(social.tw, 32)
		
		&--vk
			&:before
				bicon(social.vk, 32)
		
		&--ok
			&:before
				bicon(social.ok, 32)
		
		&:not(:last-child)
			margin-right 8px
		
		&:hover
			opacity 1
		
		&:before
			content ''
			display inline-block
		
		&--linked
			display none