.detail
	@extend $row

	margin-bottom 2px
		
	&__content
		padding 18px 18px 0
		border 1px solid gray-lighter
		border-radius 3px
		background-color white
		flex-grow 1
	
	&__title
		@extend $small-text
		
		text-transform uppercase
		font-weight semibold
		margin-bottom 25px

	.act__param
		display block
		margin-bottom 14px
		width 100%
	
	@media (min-width tablet)
		display none