.button
	&__btn
		@extend $btn-reset, $not-so-small-text
		simple-btn-color pink

		color white
		font-weight regular
		padding 13px 19px 9px
		border-bottom 4px solid lightness(pink, 50%)
	
	&--center
		text-align center