.status-bar
	position relative
	background-color #fb
	width 100%
	margin-bottom 10px

	&__bg
		height 18px
		background linear-gradient(115deg,
			green 0%,
			green 25%,
			lightness(green, 65%) 25%,
			lightness(green, 65%) 75%,
			green 75%,
			green 100%)
		background-size 35px 100%
		background-repeat repeat
	
	&__text
		@extend $pseudo-center, $very-small-text, $one-row