.owl-controls
	@media (min-width desktop)
		display none

.owl-dots
	text-align center
	
.owl-dot
	size 10px
	
	border-radius 50%
	background-color gray-light
	display inline-block
	
	&:not(:last-child)
		margin-right 10px

	&.active
		background-color pink