.ie10
	@media (min-width 650px)
		.page
			&__stats
				font-size 0
		
		.one-stat
			display inline-block
			font-size 1rem
			flex-basis auto
			width calc(50% - 15px)
	
	@media (min-width tablet)
		.one-stat
			width calc(33% - 20px)

.ie10
.ie11
	.page
		display block