html
	font-size fz
	font-family exo
	font-weight normal
	min-width mobile-width
	color black
	-webkit-font-smoothing auto
	-moz-osx-font-smoothing auto

.page
	background-color #fb
	min-width 320px
	
	&__content
		padding 0 10px

	&__comments
		margin-bottom 30px
	
	&__numbers
		text-align center
	
	&__diags
		display none
	
	&__title
		@extend $title
		
		&--h1
			@extend $title--1
			
			font-weight light
			margin-bottom 25px
		
		&--h2
		&--h3
			@extend $title-h2
		
		&--centered
			text-align center
		
		&--margined
			margin-bottom 25px
	
	&__stats
		display flex
		flex-wrap wrap
		justify-content flex-start
		
	@media (min-width tablet)
		background-position center top
		
		&__content
			max-width 1200px
			margin auto
			padding 0 20px
			
		&__numbers
			display flex
			flex-wrap nowrap
			justify-content space-around
		
		&__diags
			display flex
			flex-wrap nowrap
			justify-content space-around

.recapcha
	width 302px
	height 76px
	background-image url(http://placehold.it/302x74&text=reCAPCHA)
	margin-bottom 30px