html
	font-size fz
	font-family exo
	font-weight normal
	min-width mobile-width
	color black
	-webkit-font-smoothing auto
	-moz-osx-font-smoothing auto

.no-scroll
	overflow-y hidden

.page
	background-color #fb
	min-width 320px
	
	&__content
		padding 0 10px

	&__comments
		margin-bottom 30px
	
	&__numbers
		text-align center
	
	&__diags
		display none
	
	&__title
		@extend $title
		
		word-break break-word
		
		&--h1
			@extend $title--1
			
			font-weight light
			margin-bottom 25px
		
		&--h2
		&--h3
			@extend $title-h2
		
		&--centered
			text-align center
		
		&--margined
			margin-bottom 25px
		
		&--news
			margin-bottom 0
			order 2
		
		&--one-news
			margin-bottom 5px
	
	&__stats
		display flex
		flex-wrap wrap
		justify-content flex-start
	
	&__head
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items center
		margin-bottom 15px
	
	&__news
		margin-bottom 50px
	
	&__laws
		&--laws
			width 100%
	
	&__nothing
		@extend $big-text
		
		font-family yefimov
		text-align center
		width 100%
		padding-top 20px
		padding-bottom 20px
		margin-top 10px
		margin-bottom 30px
		background-color white
		
	@media (min-width tablet)
		background-position center top
		
		&__content
			max-width 1200px
			margin auto
			padding 0 20px
			
		&__numbers
			display flex
			flex-wrap nowrap
			justify-content space-around
		
		&__diags
			display flex
			flex-wrap nowrap
			justify-content space-around
		
		&__title
			&--news
				order 1
				margin-right 80px
			
			&--laws
				margin-right 80px
				margin-bottom 0
				order 1
			
			&--one-news
				flex-basis 100%
				flex-shrink 1
				margin-bottom 0
				margin-right 10px
		
		&__head
			flex-wrap nowrap
		
		&__header
			display flex
			flex-wrap wrap
			width 100%
		
		&__laws
			&--laws
				display flex
				flex-wrap wrap
				justify-content space-between

.recapcha
	width 302px
	height 76px
	background-image url(http://placehold.it/302x74&text=reCAPCHA)
	margin-bottom 30px