html
	font-size fz
	font-family exo
	font-weight normal
	min-width mobile-width
	color black
	-webkit-font-smoothing auto
	-moz-osx-font-smoothing auto

.page
	background-color gray-body
	min-width 320px
	
	@media (min-width tablet)
		background-position center top
	
	&__comments
		margin-bottom 30px
	
	&__numbers
		text-align center
	
	&__diags
		display none

	@media (min-width tablet)
		&__content
			margin-top 0
			
		&__numbers
			display flex
			flex-wrap nowrap
			justify-content space-around
		
		&__diags
			display flex
			flex-wrap nowrap
			justify-content space-around

.recapcha
	width 302px
	height 76px
	background-image url(http://placehold.it/302x74&text=reCAPCHA)
	margin-bottom 30px