.promo
	bgi url(../img/promo__bg.jpg)
	
	padding 24px 0 20px
	background-position 30% 50%
	
	&__wrapper
		@extend $pad-row, $just-center
		
		padding 0 10px
	
	&__title
		@extend $title-h1
		
		color white
		font-weight light
		text-align center
		max-width 850px
	
	&__perks
		@extend $clearfix
		
		width 100%
		margin auto
	
	&__perk
		text-align center
		padding-top 61px
		
		&:before
			@extend $pseudo-top
		
		&--toKnow
			&:before
				bicon(promo.toKnow, 51)

		&--toSay
			&:before
				bicon(promo.toSay, 51)

		&--toCompare
			&:before
				bicon(promo.toCompare, 51)

		&--toChoose
			&:before
				bicon(promo.toChoose, 51)

	
	&__perk-content
		max-width 230px
		margin auto
		color white
	
	&__img
		size 51px
		margin-bottom 10px
	
	&__perk-title
		@extend $title-h3
		
		font-weight regular
	
	&__text
		@extend $very-small-text
	
	@media (min-width tablet)
		background-position center
		
		&__wrapper
			padding 0 20px

.slick
	&-dots
		text-align center
		
		li
			display inline-block
		
		button
			@extend $btn-reset, $font-reset
			size 10px
			
			border-radius 50%
			background-color gray-light
			outline none
		
		li:not(:last-child)
			button
				margin-right 10px
	
	&-active
		button
			background-color pink