// second
.timeline--two
	.timeline
		&__item
			&:not(:nth-child(n+2))
				&:before
					border-color blue-light
			
		&__item
			&:not(:nth-child(n+3))
				.timeline__number
					background-color blue-light
		

// third
.timeline--three
	.timeline
		&__item
			&:not(:nth-child(n+3))
				&:before
					border-color blue-light
			
		&__item
			&:not(:nth-child(n+4))
				.timeline__number
					background-color blue-light

// fourth
.timeline--four
	.timeline
		&__item
			&:not(:nth-child(n+4))
				&:before
					border-color blue-light
			
		&__item
			&:not(:nth-child(n+5))
				.timeline__number
					background-color blue-light

// fith
.timeline--five
	.timeline
		&__item
			&:not(:nth-child(n+5))
				&:before
					border-color blue-light
			
		&__item
			&:not(:nth-child(n+6))
				.timeline__number
					background-color blue-light

// sixth
.timeline--six
	.timeline
		&__item
			&:not(:nth-child(n+6))
				&:before
					border-color blue-light
			
		&__item
			&:not(:nth-child(n+7))
				.timeline__number
					background-color blue-light

// seventh
.timeline--seven
	.timeline
		&__item
			&:not(:nth-child(n+7))
				&:before
					border-color blue-light
			
		&__item
			&:not(:nth-child(n+8))
				.timeline__number
					background-color blue-light

// eightth
.timeline--eight
	.timeline
		&__item
			&:not(:nth-child(n+8))
				&:before
					border-color blue-light
			
		&__item
			&:not(:nth-child(n+9))
				.timeline__number
					background-color blue-light