mixin pag(page, pages)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'pagination--' + mod

	.pagination(class=mods)
		button.pagination__btn.pagination__btn--prev(type='button') Назад
		p.pagination__page
			| Страница
			span.pagination__page--number=page
			span.pagination__page--gray='из '+pages
		button.pagination__btn.pagination__btn--next(type='button') Дальше