//- includes
include svg-sprite

include ../header/header
include ../main/main
include ../footer/footer

include ../logo/logo
include ../navigation/navigation
include ../btn/btn
include ../burger/burger
include ../main-text/main-text
include ../small-title/small-title
include ../promo/promo
include ../act/act
include ../rating/rating
include ../voiting/voiting
include ../color-bar/color-bar
include ../detail/detail
include ../about-act/about-act
include ../diagram/diagram
include ../type-tabs/type-tabs
include ../scrl-area/scrl-area
include ../text/text
include ../sides/sides
include ../section/section
include ../opinion/opinion
include ../usage/usage
include ../comment/comment
include ../textarea/textarea
include ../btn-submit/btn-submit
include ../pagination/pagination
include ../number/number
include ../social/social
include ../modal/modal
include ../rate/rate
include ../about-act/chronos
include ../breadcrumbs/breadcrumbs
include ../expand/expand
include ../soc-enter/soc-enter
include ../input/input
include ../checkbox/checkbox
include ../form/form
include ../login/login
include ../close/close
include ../feedback/feedback
include ../white-modal/white-modal
include ../timeline/timeline
include ../quote/quote
include ../error/error
include ../page/page
//- include ../stat-diagram/stat-diagram
include ../one-stat/one-stat
include ../search/search
include ../one-news/one-news
include ../news-single/news-single
include ../extended-search/extended-search
include ../select/select
include ../datepicker/datepicker
include ../range/range
include ../one-law/one-law
include ../status-bar/status-bar
include ../doer/doer
include ../confirmation/confirmation
include ../upload-btn/upload-btn
include ../profile/profile
include ../info/info
include ../gang/gang
include ../loader/loader
include ../crop/crop
include ../button/button
include ../law-filter/law-filter
include ../settings/settings
include ../keyholder/keyholder
include ../hidden-area/hidden-area
include ../profile-sets/profile-sets
include ../radio/radio
include ../variants/variants
include ../commenter/commenter
include ../not-page/not-page