//- includes
include svg-sprite
include ../header/header
include ../logo/logo
include ../navigation/navigation
include ../btn/btn
include ../burger/burger
include ../main-text/main-text
include ../small-title/small-title
include ../promo/promo
include ../act/act
include ../rating/rating
include ../voiting/voiting
include ../color-bar/color-bar
include ../detail/detail
include ../about-act/about-act
include ../diagram/diagram
include ../type-tabs/type-tabs
include ../scrl-area/scrl-area
include ../text/text
include ../sides/sides
include ../section/section
include ../opinion/opinion
include ../usage/usage
include ../comment/comment

include ../klichko/klichko

block page_id

<!DOCTYPE html>
html(lang="ru")
	head
		block title
		include head
	body
		+header
			+burger
			+logo
			+navigation
			+btn('Войти / Зарегистрироваться', 'person')
		main.page__content
			block content
		footer.page__footer

		if withKlichko === true
			+klichko
		script(
			src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		script window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
		script(
			src='js/main.js')