.btn-submit
	&__input
		@extend $btn-reset, $not-so-small-text
		simple-btn-color blue

		color white
		font-weight regular
		padding 13px 19px 9px
		border-bottom 4px solid blue-dark
		margin-bottom 15px
		outline none
	
	@media (min-width desktop)
		text-align right