.btn-submit
	&__input
		@extend $btn-reset, $not-so-small-text
		simple-btn-color blue

		color white
		font-weight regular
		padding 13px 19px 9px
		border-bottom 4px solid blue-dark
		margin-bottom 15px
		outline none
	
	&--modal
		text-align center

	&--modal &__input
		btn-hover pink
		
		border 2px solid pink
		background none
		color black
		padding 11px 25px
		margin-bottom 0
	
	@media (min-width desktop)
		text-align right
		
		&--modal
			text-align left