.btn-submit
	margin-bottom 15px

	&__input
		@extend $btn-reset, $not-so-small-text
		simple-btn-color blue-light

		color white
		font-weight regular
		padding 13px 19px 9px
		border-bottom 4px solid lightness(blue-light, 50%)
	
	&--modal
		text-align center
		margin-bottom 0
	
	&--enter
	&--ask-pass
	&--feedback
		text-align center
		margin-bottom 0
	
	&--reg
		margin-bottom 0

	&--modal &__input
		btn-hover pink
		
		border 2px solid pink
		background none
		color black
		padding 11px 25px
	
	&--reg &__input
	&--enter &__input
	&--ask-pass &__input
	&--feedback &__input
		simple-btn-color pink
		background-color pink
		border-color lightness(pink, 55%)
	
	&--enter &__input
		padding-left 35px
		padding-right 35px

	@media (min-width tablet)
		&--feedback
		&--modal
			text-align left

.form--login
	.btn-submit
		width 100%
	
	@media (min-width modal-bp)
		
		.btn-submit
			&--enter
				width auto