.gang
	flex-basis 50%
	text-align center
	margin-bottom 30px
	
	&--first &__percent
		color #26A65B
		
	&--second &__percent
		color #2ECC71
		
	&--third &__percent
		color #EC644B
		
	&--fourth &__percent
		color #CF000F
	
	&__face
		display inline-block
		height 40px
		vertical-align middle

	&__img
		max-height 100%
		max-width 100%
	
	&__percent
		@extend $small-text
		
		display inline-block
		margin-left 10px
		vertical-align middle
		font-weight semibold
	
	@media (min-width tablet)
		flex-basis auto
		margin-bottom 0