mixin breadcrumbs
	.breadcrumbs
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href='/') Главная
			if block
				block

mixin brItem(text)
	li.breadcrumbs__item
		a.breadcrumbs__link!=text