.input
	margin-bottom 15px
	position relative
	
	&--search
		margin-bottom 0
	
	&--nick
		max-width 200px

	&__input
		@extend $small-text
		
		font-weight regular
		padding 18px 23px
		border 1px solid gray-lighter
		width 100%
	
	&--search &__input
		font-size 13px
		padding 13px 18px 12px
		border-radius 4px
	
	&--nick &__input
		padding 13px 23px 12px

	&__error
		@extend $extra-small-text
		
		display none
		color red
		font-weight light
		margin-bottom 1px
	
	&--margined
		margin-bottom 30px
	
	&-s-margined
		margin-bottom 20px
	
	&--settings &__input
		padding 13px 23px

.form--login
	.input
		width 100%

// errors
errors()
	for error in arguments
		.input--{error}
			.input__input
				margin-bottom 0
				border-color red
				
			.input__error--{error}
				display block

errors(
	no-login,
	no-mail,
	no-pass,
	not-reged-mail,
	reged-login,
	reged-mail,
	short-login,
	short-pass,
	wrong,
	wrong-city,
	wrong-code,
	wrong-mail,
	wrong-pass)