mixin expand(num)
	// в дата-атрибуте содержится количество строк, на которые сворачивается текст
	.expand(data-num-of-lines=num)
		.expand__text-wrapper
			.expand__text
				if block
					block
		.expand__expand
			button.expand__expander Развернуть