.commenter
	width 100%
	max-height 100%
	left 50%
	position fixed
	min-width mobile-width
	background-color white
	max-width 760px
	margin auto
	display block
	transform translateX(-50%)
	padding 30px 10px 10px
	overflow-y auto
	
	&__content
		height 100%
	
	&__face
		@extend $font-reset
		
		width 120px
		margin 0 auto 15px
		position relative
	
	&__img
		width 100%
		border-radius 50%
		
	&__no-img
		border-radius 50%
		display none
	
	&__name
		@extend $big-text
		
		font-family yefimov
		text-align center
		margin-bottom 40px
		
	&__line
		display flex
		margin-bottom 20px
		align-items center
	
	&__title
		padding-left 50px
		position relative
		padding 7px 0
		min-width 180px
		flex-shrink 0
		
		&:before
			@extend $pseudo-left
		
		&--city
			&:before
				bicon(profile.city, 32)
	
		&--gender
			&:before
				bicon(profile.gender, 32)

		&--age
			&:before
				bicon(profile.clock, 32)

		&--edu
			&:before
				bicon(profile.edu, 32)

		&--status
			&:before
				bicon(profile.rings, 32)

		&--career
			&:before
				bicon(profile.present, 32)

		&--religion
			&:before
				bicon(profile.church, 32)

		&--politics
			&:before
				bicon(profile.handshake, 32)
	
	&__text
		@extend $small-text
		
		flex-basis 100%
		flex-shrink 1
		
		&--lower
			text-transform lowercase

	&__party
		height 34px
		width auto
	
	@media (min-width 760px)
		padding-left 30px
		padding-right 30px
		padding-bottom 20px
		
		&__body
			display flex
		
		&__half
			width 50%
		
		&__line
			&:last-child
				margin-bottom 0
		
		@media (min-height 500px)
			top 50%
			transform translate(-50%, -50%)

.modal--show
	.commenter
		animation fadeIn .3s linear