.diagram
	margin-bottom 20px
	display none
	
	&--show
		display block
	
	&__showing
		margin 0 auto 10px
	
	&__img
		&--pie
		&--pie-deputy
			size 135px
			
			border-radius 50%
	
		&--bars
			width 100%
			max-width 400px

	&__description
		@extend $very-small-text