.diagram
	margin-bottom 20px
	
	&--stat
		display flex
		flex-wrap nowrap
		flex-basis 50%
		justify-content space-between
		margin-bottom 0
		
	&__showing
		margin 0 auto 10px
		text-align center
		margin-bottom 0
	
	&--stat &__showing
		flex-grow 0
		width 135px
	
	&__img
		&--pie
		&--pie-deputy
			size 135px
			
			border-radius 50%
	
		&--bars
			width 100%
			max-width 400px

	&__description
		@extend $very-small-text
		
		padding 10px
		padding-bottom 0
	
	&--stat &__description
		color gray-light

	&__legend
		@extend $not-so-small-text
		
		font-weight regular
		margin-bottom 10px
		padding-left 46px
		position relative
		margin-left 5px
		
		&:before
			@extend $pseudo-left
			
			width 30px
			height 3px
		
		&--red
			&:before
				background-color pink
		
		&--yellow
			&:before
				background-color yellow
		
		&--blue
			&:before
				background-color blue
		
		&--green
			&:before
				background-color green
		
		&--gray
			color gray-light
			font-weight light