.loader
	height 20px
	background linear-gradient(115deg,
		pink 0%,
		pink 25%,
		lightness(pink, 65%) 25%,
		lightness(pink, 65%) 75%,
		pink 75%,
		pink 100%)
	background-size 35px 100%
	background-repeat repeat
	animation bgCrawl 2s linear infinite