.textarea
	@extend $font-reset
	
	margin-bottom 10px
	
	&--modal
		margin-bottom 15px
	
	&__label
		@extend $very-small-text
		
		margin-bottom 5px
		display inline-block
	
	&__input
		@extend $textarea-reset, $not-so-small-text
		
		resize none
		border 1px solid gray-lighter
		padding 10px
		width auto
		min-height 100px
		width 100%
	
	&--modal &__input
		min-height 140px
		padding 18px
		
		+placeholder()
			@extend $small-text
			
			color gray-text
	
	@media (min-width desktop)
		&__input
			min-height 66px

		&--modal &__input
			min-width 335px