.main
	margin-top 78px
	flex-basis 100%
	flex-shrink 1
	
	&--unsubscribe
		display flex
		align-items stretch
	
	@media (min-width tablet)
		margin-top 0
		
		// &--bg
		// 	// background-image url(../img/bg.jpg)
		// 	background-color #fb