.ie11
	@media (min-width tablet)
		.sides
			&__contents
				font-size 0
				display table
			
			&__content
				display table-cell
				width 50%
				font-size 1rem
				vertical-align top
				position relative
				padding-bottom 30px
			
			&__suggestion
				position absolute
				bottom 0
				left 50%
				transform translateX(-50%)