.variants
	// display none
	overflow auto
	max-height 296px
	width 100%
	top 100%
	left 0
	background-color white
	position absolute
	border 2px solid blue
	border-top none
	text-align left
		
	&__list
		list-style-type none
	
	&__item
		@extend $very-small-text
		
		display block
		padding 9px
		cursor pointer
		
		&:hover
			background-color blue
			color white

[class*='--small']
	.variants
		&__item
			padding 5px