mixin klichko
	.klichko
		img.klichko__img(
			src='img/klichko.png'
			alt="")
		p.klichko__perl А сегодня в завтрашний день не все могут смотреть. Вернее смотреть могут не только лишь все, мало кто может это делать.