@keyframes fadeIn
	from
		opacity 0
		
	to
		opacity 1

@keyframes hello-there
	0%
		transform translateY(260px)
	
	75%
		transform translateY(229px)

	100%
		transform translateY(145px)

@keyframes tuda-suda
	0%
		transform rotate(0)
	
	25%
		transform rotate(5deg)
	
	50%
		transform rotate(0deg)
	
	75%
		transform rotate(-5deg)
	
	100%
		transform rotate(0deg)

@keyframes showError
	10%
		transform translateX(0)
	
	90%
		transform translateX(0)
		opacity 1
	
	100%
		transform translateX(0)
		opacity 0

@keyframes bgCrawl
	from
		background-position 0 0
	
	to
		background-position 35px

@keyframes rotation
	from
		transform rotate(0)
	
	to
		transform rotate(45deg)