$clearfix
	&:before
	&:after
		content ''
		display table
		height 0
		width 100%
	
	&:after
		clear both

$bgi
	background-size cover
	background-repeat no-repeat

$square
	overflow hidden
	
	&:before
			float left
			content ''
			padding-bottom 100%