smWidth	= 337px
mdWidth	= 940px
lgWidth	= 1200px

$wrapper
	width 100%
	max-width lgWidth
	margin 0 auto

$row
	@extend $wrapper
	
	display flex
	flex-wrap wrap

tab-row()
	@media (min-width tablet)
		display flex
		width 100%
		max-width lgWidth
		margin 0 auto
		flex-wrap wrap

$pad-row
	@extend $row
	
	padding 0 10px
	
	@media (min-width mdWidth)
		padding 0 20px

$single-row
	flex-wrap nowrap

$just-between
	justify-content space-between

$just-center
	justify-content center

$just-left
	justify-content flex-start

$va-middle
	align-items center