$pseudo
	content ''
	position absolute
	display inline-block

$pseudo-right
	@extend $pseudo
	
	top 50%
	right 0
	transform translateY(-50%)

$pseudo-right-top
	@extend $pseudo
	
	top 0
	right 0

$pseudo-left
	@extend $pseudo
	
	top 50%
	left 0
	transform translateY(-50%)

$pseudo-left-top
	@extend $pseudo
	
	top 0
	left 0

$pseudo-bottom-fullwidth
	@extend $pseudo
	
	bottom 0
	left 0
	width 100%

$pseudo-bottom-left
	@extend $pseudo
	
	bottom 0
	left 0

$pseudo-center
	@extend $pseudo
	
	top 50%
	left 50%
	transform translate(-50%, -50%)

$pseudo-center-old
	@extend $pseudo
	
	top 0
	right 0
	bottom 0
	left 0
	margin auto

$pseudo-top
	@extend $pseudo
	
	top 0
	left 50%
	transform translateX(-50%)