$font-reset
	font-size 0
	line-height 0

$reg-text
	font-weight regular

$line-height
	line-height 1.3em

$text
	@extend $line-height
	
	font-size 1rem

$not-so-big-text
	@extend $text
	
	font-size 1.0625rem

$not-so-small-text
	@extend $line-height
	
	font-size .9375rem

$small-text
	@extend $line-height
	
	font-size .875rem

$very-small-text
	@extend $line-height
	
	font-size .8125rem

$extra-small-text
	@extend $line-height
	
	font-size .6875rem

$mega-small-text
	@extend $line-height
	
	font-size .625rem

$logo-text
	@extend $very-small-text
	
	font-family yefimov
	font-weight light

// titles
$title
	@extend $line-height
	
	font-family yefimov

$title-h0
	@extend $title
	
	font-size 2.1878rem

$title-h1
	@extend $title
	
	font-size 1.0625rem
	margin-bottom 32px
	
	@media (min-width tablet)
		font-size 1.1875rem

$title-h2
	@extend $title
	
	font-size 1.0625rem
	font-weight regular
	margin-bottom 10px
	
$title-h3
	@extend $title
	
	font-size 1.0625rem
	margin-bottom 8px

$title-h4
	@extend $title
	
	font-size .875rem
	font-weight semibold
	font-family exo

$title-very-big
	@extend $title
	
	font-size 1.125rem