// width
desktop			= 1230px
desktop-width	= 1200px
tablet			= 980px
tablet-width	= 950px
mobile			= 350px
mobile-width	= 320px

// font-sizes
fz					= 16px

// colors
black				= #21

blue				= #4b5a6e
blue-dark		= #435163

gray-body		= #f5f6f4
gray-lighter	= #e8
gray-light		= #ac
gray-suka-ebaniy-designer = #ac
gray				= #5
// gray-lighter		= #d9
// gray-logo			= #6
// gray-middle			= #3

green				= #65ab3f

pink				= #d7765e

yellow			= #e3b411

white				= #f