// width
desktop			= 1230px
desktop-width	= 1200px
tablet			= 980px
tablet-width	= 950px
mobile			= 350px
mobile-width	= 320px

modal-bp			= 500px

// font-sizes
fz					= 16px

// colors
black				= #21

blue				= #4b5a6e
blue-dark		= #435163
blue-light		= #5ea4c5

gray-body		= #f5f6f4
gray-lighter	= #e8
gray-light		= #ac
gray-suka-ebaniy-designer = #ac
gray				= #5
gray-text		= #9

soc-fb			= #3a579a
soc-tw			= #59aae7
soc-vk			= #6482ab
soc-gp			= #de4837
soc-cm			= #ec812a

// green				= #65ab3f
// green				= #9ec745
green-kisliy	= #46d16e
green				= green-kisliy

// pink				= #d7765e
pink				= #f06b48

yellow			= #e3b411

white				= #f