.error
	position fixed
	top 0
	right 0
	width 380px
	padding 30px 25px 30px 80px
	background-color rgba(black, .95)
	transform translateX(100%)

	&:before
		@extend $pseudo
		bicon(attention.roundWhite, 34)
		
		left 25px
		top 50%
		transform translateY(-50%)
	
	&--show
		animation showError 3s linear

	&__text
		@extend $small-text
		
		color white