.logo
	position relative
	
	&:before
		@extend $pseudo
		bicon(logo, 45)
		
		position static
		display inline-block
	
	&__text
		display none
	
	@media (min-width tablet)
		order -1
		display flex
		align-items center
		
		&:before
			margin-right 12px
		
		&__text
			@extend $logo-text
			
			display inline-block
			color gray
			padding 10px
			border-left 1px solid gray-light