.logo
	position relative
	
	&:before
		@extend $pseudo
		bicon(logo, 45)
		
		position static
		display inline-block
		vertical-align middle
	
	&--footer
		&:before
			margin-right 12px
	
	&__text
		@extend $logo-text
		
		display inline-block
		color gray
		border-left 1px solid gray-light
		vertical-align middle
	
	&--header &__text
		display none
	
	&--footer &__text
		padding-left 10px
	
	@media (min-width tablet)
		order -1
		display flex
		align-items center
		
		&:before
			margin-right 12px
		
		&--header &__text
			display inline-block
			padding 10px