.type-tabs
	margin-bottom 20px
	
	&__title
		@extend $extra-small-text
		
		cursor pointer
		text-transform uppercase
		display inline-block
		margin-bottom 5px
		padding 5px 0
		position relative
	
	&__tab--active &__title
		&:before
			@extend $pseudo-bottom-fullwidth
			
			height 1px
			background-color blue
	
	&__slice
		display none
	
	@media (min-width tablet)
		@extend $single-row, $just-left
		tab-row()
		
		border-bottom 1px solid gray-lighter
		position relative
		
		&__tab
			// flex-basis 1%
			white-space nowrap
			margin-right 45px
			// flex-grow 1
		
		&__title
			margin-bottom 0
			padding 15px 8px
			
		&__tab--active &__title
			&:before
				display none
		
		&__slice
			display inline-block
			height 1px
			background-color blue
			position absolute
			bottom -1px
			left 7px
			width 74px
			transition .3s