.white-modal
	position absolute
	top 0
	left 50%
	width calc(100% - 20px)
	min-width mobile-width
	background-color white
	transform translateX(-50%)
	max-width 600px
	
	&__content
		padding 45px 10px 35px
		max-width 360px
		margin auto
	
	&--crop &__content
		padding 20px 10px
		max-width none
	
	&__title
		@extend $big-text
		
		font-family yefimov
		text-align center
		margin-bottom 15px
	
	&--left-title &__title
		text-align left
	
	&__text
		@extend $small-text
		
		margin-bottom 20px
	
	@media (min-width modal-bp)
		&--crop &__content
			padding 20px
			
		&__title
			margin-bottom 30px
		
		@media (min-height 444px)
			&:not(.white-modal--crop)
				top 50%
				transform translate(-50%, -50%)
		
		@media (min-height 830px)
			&--crop
				top 50%
				transform translate(-50%, -50%)

.modal--show
	.white-modal
		animation fadeIn .3s linear