.number
	&:not(:last-child)
		margin-bottom 45px
	
	&__quantity
		@extend $title-h0
		
		color pink
		font-weight regular
		
		&--sum
			color blue
			display inline-block
			padding 0px 10px
	
	&__caption
		@extend $not-so-small-text
		
		color gray-light
		font-weight regular