.comment
	position relative
	padding-top 25px
	padding-bottom 15px
	
	&:not(:last-child)
		border-bottom 1px solid gray-lighter
	
	&:nth-child(n+4)
		display none
	
	&__face
		size 50px
		
		float left
		margin-right 10px
		margin-bottom 5px
		margin-top 4px
		position relative
	
	&__name
		@extend $small-text
		
		color blue
		font-weight medium
	
	&__date
		@extend $very-small-text
		
		color gray-light
		display block
	
	&__letter
		clear both

	&__full-text
		visibility hidden
		position absolute
	
	&__letter--expand &__full-text
		visibility visible
		position static
	
	&__letter--expand &__small-text
		visibility hidden
		position absolute

	&__text
		@extend $very-small-text
		
		font-weight light
	
	&__more
		@extend $btn-reset, $very-small-text
		
		text-decoration underline
		font-weight medium
	
	&__small-text &__more
		display none

	&__like
		@extend $very-small-text
		
		position absolute
		left 60px
		bottom 0
		font-weight medium
		cursor pointer
		
		&:before
			@extend $pseudo-right
			bicon(heart.empty, 12)
			
			right -20px
		
		&--liked
			&:before
				bicon(heart.full)
	
	@media (min-width tablet)
		&__face
			position static
		
		&__name
		&__date
			display inline-block
		
		&__name
			margin-right 20px
		
		&__date
			font-size .6875rem
		
		&__like
			position absolute
			right 20px
			top 25px
			bottom auto
			left auto
		
		&__letter
			clear none
			padding-left 60px

	@media (min-width desktop)
		&:nth-child(n+4)
			display block