mixin dTable
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'd-table__content--' + mod

	.d-table
		.d-table__content(class=mods)
			if block
				block

mixin dtRow
	.d-table__row
		if block
			block

mixin dtCell
	.d-table__cell
		if block
			block