.extended-search
	// &__expander
	// 	display flex
	// 	justify-content flex-end
	// 	align-items flex-start
	
	// &__expand
	// 	@extend $btn-reset, $very-small-text
		
	// 	font-weight medium
	// 	text-decoration underline
	// 	margin-bottom 20px
	
	&__body
		// display none
		margin-bottom 20px
		display flex
		flex-wrap wrap
	
	&--doers &__body
		margin-bottom 0

	&__items
		display none
		background-color white
		padding 10px
		flex-wrap wrap
		display flex
		justify-content space-between
		width 100%
		
		&--p0
			padding 0
	
	&__item
		flex-basis 100%
		margin-bottom 10px
		
		&--flex
			display flex
			flex-wrap wrap
			justify-content space-between
		
		&--half
			flex-basis calc(50% - 5px)
		
		&--checkbox
			padding-top 10px
	
	&__title
		@extend $small-text
		
		font-weight medium
		margin-bottom 5px
	
	&__item--flex &__title
		flex-basis 100%

	@media (min-width tablet)
		&__items
			flex-wrap nowrap
			justify-content space-between
			padding 20px 10px
			
			&--p0
				padding 0
		
		&--doers &__items
			flex-wrap wrap
		
		&__item
			flex-basis calc(25% - 8px)
			flex-shrink 1
			
			&--half
				flex-basis calc(12.5% - 8px)
			
			&--checkbox
				padding-top 35px
		
		&--checkbox
			display flex
			align-items center
			padding-top 30px
	
	@media (min-width desktop)
		&--doers &__items
			padding-bottom 20px
			padding-left 30px
			padding-right 30px
			
.page__laws
	.extended-search
		@media (min-width tablet)
			order 3
			width 100%
			margin-top 10px
			
			&--opened
				margin-bottom 20px
			
			&__item
				margin-bottom 0