mixin abAct
	.about-act
		.about-act__wrapper
			if block
				block

mixin abActTab(title)
	button.about-act__tab(
		type='button')!=title

mixin abActCont(title, isBtn)
	if isBtn === true
		.about-act__content.about-act__content--btn
			a.about-act__cont-title.about-act__cont-title--btn(
				href='#')!=title
	else
		.about-act__content
			h4.about-act__cont-title!=title
			.about-act__cont-content
				.about-act__inner
					if block
						block

mixin abActLeg(title, color)
	span.about-act__legend(
		class='about-act__legend--'+color)!=title