.about-act
	margin-bottom 30px
	
	&__wrapper
		@extend $pad-row
	
	&__tabs
		display none
	
	a&__tab
		display inline-block
	
	&__contents
		flex-grow 1
		text-align center
	
	&__content
		border-radius 3px
		overflow hidden
		margin-bottom 2px
		border 1px solid gray-lighter
	
	&__cont-title
		@extend $small-text
		
		background-color gray-lighter
		text-transform uppercase
		padding 16px 10px
		cursor pointer
		font-weight medium
		text-align left
		
		&--btn
			display block
	
	&__type
		@extend $row
		
		width 100%
		display flex
		padding 20px
		
		&:not(:first-child)
			display none
		
		> .diagram
			width 100%
	
	&__cont-content
		background-color white
		display none
	
	&__inner
		padding 10px
	
	&__diagrams
		@extend $row, $just-center
		
		> .diagram
			flex-basis 100%
	
	&__legend
		@extend $small-text
		
		padding-left 55px
		position relative
		display inline-block
		text-align left
		margin-right 35px
		min-width 175px
		
		&:before
			@extend $pseudo-left
			
			width 30px
			height 3px
		
		&--green
			&:before
				background-color green
		
		&--red
			&:before
				background-color pink
		
		&--gray
			&:before
				background-color gray-lighter
		
		&--blue
			&:before
				background-color blue
	
	@media (min-width tablet)
		margin-bottom 50px
	
		&__tabs
			@extend $row, $just-between, $single-row
			
			display flex
			flex-basis 100%
		
		&__tab
			@extend $btn-reset, $very-small-text
			
			text-align center
			background-color gray-lighter
			flex-basis 25%
			padding 14.5px
			white-space nowrap
			
			&:first-child
				flex-shrink 0
				flex-grow 1
			
			&:not(:last-child)
				margin-right 3px
				
			&:not(:first-child)
				flex-shrink 1
			
			&--active
				background-color white
		
		&__contents
			padding-top 35px
			background-color white
			flex-basis 100%
			margin-bottom 0

		&__content
			border none
			
			&--show
				display block
		
		&__cont-title
			display none
		
		&__cont-content
			height auto
			display block
		
		&__inner
			padding-left 20px
			padding-right 20px
		
		&__type
			@extend $just-center
		
		&__type	
		&__diagrams
			> .diagram
				flex-basis 25%
		
		&__legends
			text-align left
			flex-basis 100%
			flex-shrink 0
			margin-top 30px
	
	@media (min-width desktop)
		&__type
		&__diagrams
			> .diagram
				flex-basis 20%