.about-act
	&__wrapper
		@extend $pad-row
		
		margin-bottom 300px
	
	&__tabs
		display none
	
	&__contents
		flex-grow 1
		text-align center
	
	&__content
		border-radius 3px
		overflow hidden
		margin-bottom 2px
		border 1px solid gray-lighter
	
	&__cont-title
		@extend $small-text
		
		background-color gray-lighter
		text-transform uppercase
		padding 16px 0
		cursor pointer
		font-weight medium
		text-align left
		
		&--btn
			display block
	
	&__cont-content
		background-color white
		height 0
	
	&__inner
		padding 10px
	
	&__legend
		@extend $small-text
		
		padding-left 55px
		position relative
		width 100%
		display inline-block
		text-align left
		
		&:before
			@extend $pseudo-left
			
			width 30px
			height 3px
		
		&--green
			&:before
				background-color green
		
		&--red
			&:before
				background-color pink
		
		&--gray
			&:before
				background-color gray-lighter
		
		&--blue
			&:before
				background-color blue
	
	@media (min-width tablet)
		&__content
			&--btn
				display none
		
		&__cont-title
			display none