mixin chronos
	+textTitle('1.1 Регистрация в САДД ГД')
	+textPar('17.02.2016 17:31')
	+textPar('зарегистрирован и направлен Председателю Государственной Думы')

	+textTitle('1.2 Направление в профильный комитет')
	+textPar('17.02.2016 19:18')
	+textPar('направлен в Комитет Государственной Думы по финансовому рынку')

	+textTitle('0.2 Регистрация писем')
	+textPar('18.02.2016')
	+textPar('дополнение состава инициаторов законопроекта (Н.Н.Гончар)')

	+textTitle('0.2 Регистрация писем')
	+textPar('18.02.2016')
	+textPar('дополнение состава инициаторов законопроекта (С.Н.Рябухин)')

	+textTitle('2.1 Профильный комитет')
	+textPar('16.03.2016')
	+textPar('174 п.5')
	+textPar('предложить принять законопроект к рассмотрению (срок представления отзывов, предложений и замечаний в комитет 22.03.2016)')

	+textTitle('0.2 Регистрация писем')
	+textPar('16.03.2016')
	+textPar('предложить принять законопроект к рассмотрению (срок представления отзывов, предложений и замечаний в комитет 22.03.2016)')
	
	+textTitle('2.2 Совет Государственной Думы (предварительное рассмотрение)')
	+textPar('17.03.2016')
	+textPar('288, п.78')
	+textPar('назначить ответственный комитет (Комитет Государственной Думы по финансовому рынку); представить отзывы, предложения и замечания к законопроекту (срок представления отзывов, предложений и замечаний в комитет 22.03.2016); подготовить законопроект к рассмотрению Государственной Думой; назначить комитет-соисполнитель (Комитет Государственной Думы по вопросам собственности)')
	
	+textTitle('3.2 Совет Государственной Думы (первое чтение)')
	+textPar('24.03.2016')
	+textPar('290, п.2')
	+textPar('перенести рассмотрение законопроекта')
	
	+textTitle('3.2 Совет Государственной Думы (первое чтение)')
	+textPar('25.03.2016')
	+textPar('292, п.1')
	+textPar('внести законопроект на рассмотрение Государственной Думы (предлагаемая дата рассмотрения Государственной Думой 15.04.2016)')
	
	+textTitle('3.2 Совет Государственной Думы (первое чтение)')
	+textPar('11.04.2016')
	+textPar('293, п.5')
	+textPar('перенести рассмотрение законопроекта (предлагаемая дата рассмотрения Государственной Думой 12.04.2016)')
	
	+textTitle('3.1 Ответственный комитет (первое чтение)')
	+textPar('11.04.2016')
	+textPar('179 п.10')
	+textPar('предложить принять законопроект в первом чтении (предлагаемая дата рассмотрения Государственной Думой 12.04.2016)')
	
	+textTitle('3.2 Совет Государственной Думы (первое чтение)')
	+textPar('11.04.2016')
	+textPar('293, п.5')
	+textPar('перенести рассмотрение законопроекта')
	
	+textTitle('3.3 Государственная Дума (первое чтение)')
	+textPar('12.04.2016')
	+textPar('8636-6 ГД')
	+textPar('принять законопроект в первом чтении; представить поправки к законопроекту в пятидневный срок со дня принятия постановления')