.profile-sets
	width 100%
	max-height 100%
	left 50%
	position fixed
	min-width mobile-width
	background-color white
	max-width 760px
	margin auto
	display block
	transform translateX(-50%)
	padding 30px 10px 10px
	overflow-y auto
	
	&__content
		height 100%
	
	&__face
		@extend $font-reset
		
		width 120px
		margin 0 auto 15px
		position relative
	
	&__img
		width 100%
		border-radius 50%
		
	&__no-img
		border-radius 50%
		display none
	
	&__name
		@extend $big-text
		
		font-family yefimov
		text-align center
		margin-bottom 5px
	
	&__line
		margin-bottom 20px
	
	&__title
		position relative
		padding 7px 0
		// padding-left 50px
		margin-bottom 10px
		display flex
		align-items center
		
		&:before
			// @extend $pseudo-left
			content ''
			display inline-block
			margin-right 5px
		
		&--city
			&:before
				bicon(profile.city, 32)
	
		&--gender
			&:before
				bicon(profile.gender, 32)

		&--age
			&:before
				bicon(profile.clock, 32)

		&--edu
			&:before
				bicon(profile.edu, 32)

		&--status
			&:before
				bicon(profile.rings, 32)

		&--career
			&:before
				bicon(profile.present, 32)

		&--religion
			&:before
				bicon(profile.church, 32)

		&--politics
			&:before
				bicon(profile.handshake, 32)

	&__variants
		display flex
		flex-wrap wrap
		justify-content flex-start
		align-items center
		position relative
	
	&__nick-block
		margin-bottom 40px
	
	&__nick
		display flex
		flex-direction column
		align-items center

		[data-cond='edit'] &
			display none
	
	&__edit-nick
		@extend $btn-reset
		
		color blue-light
		text-decoration underline
		font-size 14px

	&__input
		display flex
		justify-content center
		
		[data-cond='show'] &
			display none

	@media (min-width tablet)
		padding-left 30px
		padding-right 30px
		
		&__line
			display flex
		
		&__variants
			flex-basis 100%
			flex-shrink 1

		&__title
			min-width 180px
			flex-shrink 0

		@media (min-height 900px)
			top 50%
			transform translate(-50%, -50%)

.modal--show
	.profile-sets
		animation fadeIn .3s linear