.opinion
	text-align center
	
	&__wrapper
		&--red
			.section__wrapper
				padding-top 30px
				border-color pink
			
			.opinion__tab--active
				box-shadow 0 0 0 2px pink
		
		&--green
			.section__wrapper
				padding-top 30px
				border-color green
			
			.opinion__tab--active
				box-shadow 0 0 0 2px green
		
		&--gray
			.section__wrapper
				padding-top 30px
				border-color gray-lighter
			
			.opinion__tab--active
				box-shadow 0 0 0 2px gray-lighter
	
	&__tabs
		@extend $font-reset
		
		position absolute
		// bottom 0
		top 0
		left 0
		width 100%
		text-align center
		// transform translateY(50%)
		transform translateY(-50%)

	&__tab
		// size 30px
		size 40px
		
		overflow hidden
		display inline-block
		border-radius 50%
		cursor pointer
		background-color white
		
		&--active
			box-shadow 0 0 0 2px pink

		&:not(:last-child)
			margin-right 10px
		
		&:before
			@extend $font-reset
			
			content ''
			width 0
			height 100%
			display inline-block
			vertical-align middle
	
	&__thumb
		width 100%
		vertical-align middle
		
		&:hover
			opacity .7
	
	&__item
		visibility hidden
		position absolute
		
		&--show
			visibility visible
			position static
	
	&__face
		@extend $font-reset
		size 100px
		
		overflow hidden
		border-radius 50%
		margin 0 auto 20px
		
		&:before
			@extend $font-reset
			
			content ''
			width 0
			height 100%
			display inline-block
			vertical-align middle

	&__img
		width 100%
		vertical-align middle
	
	&__face &__img
		display inline-block
	
	&__bq
		@extend $small-text
		
		margin-bottom 20px
	
	&__text
		color gray
		font-style italic
		font-family yefimov
		margin-bottom 2px
		
		&:last-of-type
			margin-bottom 20px
	
	&__name
		font-style normal
		font-weight medium
	
	&__main-title
		@extend $title-very-big
		
		font-weight regular
		margin-bottom 30px
		text-align center
		width 100%
		
		&.mb20
			margin-bottom 20px

	@media (min-width tablet)
		&__item
			display flex
			flex-wrap nowrap
		
		&__face
			margin 0 20px 0 10px
			flex-shrink 0
		
		&__bq
			flex-shrink 1
			text-align left
			padding-right 100px
		
		&__text
			&:first-child
				padding-top 10px