.filter
	display flex
	flex-direction column
	align-items stretch
	
	&--bottom
		flex-direction column-reverse
	
	@media (min-width desktop)
		padding-left 30px
		padding-right 30px
		padding-bottom 30px
		background-color white
		flex-direction row
		
		&--bottom
			padding-left 0
			padding-right 0