.select2-selection
	position relative
	line-height 1em
	font-size 0
	
	// &:before
	// 	@extend $pseudo
	// 	triangle down 3px 2px black
	// 	top 20px
	// 	right 10px
		
	&__choice
		@extend $small-text

		margin-bottom 5px
		
		&__remove
			size 10px
			position relative
			
			&:before
			&:after
				@extend $pseudo-center-old
				
				width 10px
				height 1px
				background-color black
				transform-origin center
			
			&:before
				transform rotate(-45deg)
			
			&:after
				transform rotate(45deg)
	
	&__rendered
		display flex
		flex-wrap wrap
		align-items center
		justify-content flex-start
		padding 5px

.select2-search
	flex-basis 10%
	flex-grow 1

.select2-container
	&--default&--focus
	&--default
		.select2-selection
			&--multiple
				border 1px solid gray-lighter

	.select2-search--inline
		.select2-search__field
			font-size .875rem
			width 100% !important
			margin-top 0
			padding 7px 10px

.select2-results
	&__option
		@extend $small-text
	
		&:not(:last-child)
			border-bottom 1px solid gray-lighter
		
.select2-container--default
	.select2-results
		&__option
			&--highlighted[aria-selected]
				background-color #fb
				color black

.select2-dropdown
	border 1px solid gray-lighter
	border-radius 0 0 3px 3px
	overflow hidden

.select2-container--default
	.select2-results
		> .select2-results__options
			max-height 123px