@import '../blocks/page/page'
@import '../blocks/page/ie'
@import '../blocks/header/header'
@import '../blocks/main/main'
@import '../blocks/footer/footer'
@import '../blocks/logo/logo'
@import '../blocks/navigation/navigation'
@import '../blocks/btn/btn'
@import '../blocks/btn/vars'
@import '../blocks/burger/burger'
@import '../blocks/main-text/main-text'
@import '../blocks/small-title/small-title'
@import '../blocks/promo/promo'
@import '../blocks/act/act'
@import '../blocks/act/ie10'
@import '../blocks/rating/rating'
@import '../blocks/voiting/voiting'
@import '../blocks/color-bar/color-bar'
@import '../blocks/detail/detail'
@import '../blocks/detail/ie10'
@import '../blocks/about-act/about-act'
@import '../blocks/about-act/ie10'
@import '../blocks/diagram/diagram'
@import '../blocks/diagram/ie10'
@import '../blocks/type-tabs/type-tabs'
@import '../blocks/scrl-area/scrl-area'
@import '../blocks/text/text'
@import '../blocks/sides/sides'
@import '../blocks/sides/ie10'
@import '../blocks/sides/ie11'
@import '../blocks/section/section'
@import '../blocks/opinion/opinion'
@import '../blocks/usage/usage'
@import '../blocks/usage/ie10'
@import '../blocks/comment/comment'
@import '../blocks/pagination/pagination'
@import '../blocks/textarea/textarea'
@import '../blocks/btn-submit/btn-submit'
@import '../blocks/number/number'
@import '../blocks/social/social'
@import '../blocks/modal/modal'
@import '../blocks/rate/rate'
@import '../blocks/breadcrumbs/breadcrumbs'
@import '../blocks/expand/expand'
@import '../blocks/soc-enter/soc-enter'
@import '../blocks/input/input'
@import '../blocks/checkbox/checkbox'
@import '../blocks/form/form'
@import '../blocks/login/login'
@import '../blocks/close/close'
@import '../blocks/feedback/feedback'
@import '../blocks/white-modal/white-modal'
@import '../blocks/timeline/timeline'
@import '../blocks/timeline/mods'
@import '../blocks/quote/quote'
@import '../blocks/error/error'
@import '../blocks/one-stat/one-stat'
@import '../blocks/search/search'
@import '../blocks/one-news/one-news'
@import '../blocks/news-single/news-single'
@import '../blocks/extended-search/extended-search'
@import '../blocks/select/plugin.css'
@import '../blocks/select/select'
@import '../blocks/select/fixes'
@import '../blocks/datepicker/datepicker'
@import '../blocks/range/range'
@import '../blocks/one-law/one-law'
@import '../blocks/one-law/ie10'
@import '../blocks/status-bar/status-bar'
@import '../blocks/doer/doer'
@import '../blocks/confirmation/confirmation'
@import '../blocks/upload-btn/upload-btn'
@import '../blocks/profile/profile'
@import '../blocks/info/info'
@import '../blocks/gang/gang'
@import '../blocks/loader/loader'
@import '../blocks/crop/crop'
@import '../blocks/crop/fixes'
@import '../blocks/button/button'
@import '../blocks/law-filter/law-filter'
@import '../blocks/settings/settings'
@import '../blocks/keyholder/keyholder'
@import '../blocks/hidden-area/hidden-area'
@import '../blocks/profile-sets/profile-sets'
@import '../blocks/radio/radio'
@import '../blocks/variants/variants'
@import '../blocks/commenter/commenter'
@import '../blocks/not-page/not-page'