extends ../blocks/template/template

block page_id
	-var page_id		= 'doer'
	-var withKlichko	= false
	-var qoute			= false

block title
	title Пользователи

block content
	+main(class='main--bg')
		.page__content
			+breadcrumbs
				+brItem('Пользователи')
				+brItem('Депутаты')
				+brItem('ЛДПР')
				+brItem('Жириновский Владимир Вольфович')

			+pageTitle(1, 'Жириновский Владимир Вольфович')

		.page__doer
			+doer('/img/doer__img--zhir.jpg')
				+dDesc
					+dText('Депутат Государственной Думы избран в составе федерального списка кандидатов, выдвинутого Политической партией «Либерально - демократическая партия России»')
					+dText('Руководитель фракции Политической партии «Либерально-демократическая партия России»')
					+dText('Член комитета ГД по обороне')
				
				+dBlock
					+dTitle('Дата начала полномочий')
					+dText('4 декабря 2011 года (шестой созыв)')
				
				+dBlock
					+dTitle('Дата рождения')
					+dText('25 апреля 1946 года')
				
				+dBlock
					+dTitle('Связь с избирателями в регионах РФ')
					+dText('Все субъекты Российской Федерации')
					+dText('Республика Крым')
					+dText('Город Севастополь')
				
				+dBlock
					+dTitle('Образование')
					+dText('Московский государственный университет им. М.В. Ломоносова (институт восточных языков) (1970)')
					+dText('Московский государственный университет им. М.В. Ломоносова (1977)')
				
				+dBlock
					+dTitle('Ученые степени')
					+dText('Доктор философских наук')
				
				+dBlock
					+dTitle('Ученые звания')
					+dText('Профессор')
					+dText('Действительный член (академик) Академии социальных наук')
					+dText('Действительный член (академик) Международной Академии экологии и природопользования (МАЭП)')
					+dText('Почетный академик Академии естествознания')
					+dText('Действительный член Международной Академии информатизации')