extends ../blocks/template/main-template

block page_id
	-var page_id = 'index'
	-var withKlichko = false

block title
	title Народная база законов

block content
	+promo
		+promoItem('book', 'Узнать', 'Узнать первыми о&nbsp;новых законопроектах и отношение населения к&nbsp;новым законопроектам')
		+promoItem('interface', 'Высказать', 'Высказать свое отношение к&nbsp;любому законопроекту')
		+promoItem('scale', 'Сравнить', 'Сравнить свое отношение с&nbsp;отношением своей партии к&nbsp;любому законопроекту')
		+promoItem('security', 'Определиться', 'Определиться с&nbsp;выбором партии и своими политическими взглядами')
	
	+act
		+actFace
			+rating(33)
		+actDesc('Закон об антитеррористической деятельности РФ и противодействии коррупции на территории Руси матушки')
			.act__description
				+mText('Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки направлений прогрессивного развития.')(class='act__text')
				+mText('С другой стороны реализация намеченных плановых заданий играет важную роль в формировании форм развития.')(class='act__text')
			.act__params
				+actParam('Тип:', 'Директива правительства')
				+actParam('Субъект:', 'Санкт-петербург, Ленинградская область')
				+actParam('Статус:', 'Второе чтение')
				+actParam('Авторы:', 'Грызлов В.И.(ЕР), Жириновский В.Л. (ЛДПР), Путин В.В (Президент РФ 2004-2016)')
				+actParam('Масштаб:', 'Федеральный')
				+actParam('Номер законопроекта:', '№ТТ012304')

	+voiting
		.voiting__btns
			+btn('Проголосовать &laquo;За&raquo;', 'thumb-up')
			+btn('Проголосовать &laquo;Против&raquo;', 'thumb-down')
			+btn('Воздержаться', 'neutral')
		.voiting__bar
			+cBar(35, 10, 55)

	+detail
		+actParam('Тип:', 'Директива правительства')
		+actParam('Субъект:', 'Санкт-петербург, Ленинградская область')
		+actParam('Статус:', 'Второе чтение')
		+actParam('Авторы:', 'Грызлов В.И.(ЕР), Жириновский В.Л. (ЛДПР), Путин В.В (Президент РФ 2004-2016)')
		+actParam('Масштаб:', 'Федеральный')
		+actParam('Номер законопроекта:', '№ТТ012304')

	+abAct
		.about-act__tabs
			+abActTab('Результаты голосований в гос. думе')
			+abActTab('Статистика по закону')
			+abActTab('Хронология закона')
			+abActTab('Обсудить закон')
		.about-act__contents
			+abActCont('Результаты голосований в гос. думе')
				.about-act__diagram-pack
					.about-act__diagrams
						+diagram('main', 'pie-deputy', 'Фракция Всероссийской политичекой партии &#8220;Единая&nbsp;Россия&#8221;')(class='diagram--show')
						+diagram('main', 'pie-deputy', 'Фракция политичеекой партии &#8220;КПРФ&#8221;')(class='diagram--show')
						+diagram('main', 'pie-deputy', 'Фракция политической партии &#8220;Справедливая&nbsp;Россия&#8221;')(class='diagram--show')
						+diagram('main', 'pie-deputy', 'Фракция политической партии  &#8220;ЛДПР&#8221;')(class='diagram--show')
						+diagram('main', 'pie-deputy', 'Общая статистика по всем партиям')(class='diagram--show')
				.about-act__legends
					+abActLeg('Проголосовали За', 'green')
					+abActLeg('Проголосовали Против', 'red')
					+abActLeg('Не голосовали', 'blue')
					+abActLeg('Воздержались', 'gray')
			+abActCont('Статистика по закону')
				+tTabs
					+tTab('Пол/возраст', true)
					+tTab('Образование')
					+tTab('Статус')
					+tTab('География')
					+tTab('Карьера')
					+tTab('Религия')
					+tTab('Политика')
				.about-act__diagram-pack
					.about-act__diagrams
						+diagram('main', 'bars')(class='diagram--show')
						+diagram('main', 'pie')
						+diagram('main', 'pie')
						+diagram('main', 'pie')
						+diagram('main', 'pie')
						+diagram('main', 'pie')
						+diagram('main', 'pie')
				.about-act__legends
					+abActLeg('Проголосовали За', 'green')
					+abActLeg('Проголосовали Против', 'red')
					+abActLeg('Воздержались', 'gray')
			+abActCont('Хронология закона')
				+scrl
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
			+abActCont('Обсудить закон', true)