extends ../blocks/template/template

block page_id
	-var page_id		= 'news'
	-var withKlichko	= false
	-var qoute			= false

block title
	title Новости

block content
	+main(class='main--news')
		.page__content
			+breadcrumbs
				+brItem('Последние новости', '')
			
			section.page__news
				.page__head
					+pageTitle(1, 'Последние новости')(mods=['news'])
					+search(
						placeholder='Поиск новостей по ключевой фразе'
						autocomplete='true')
				
				+pageNothing('По Вашему запросу ничего не найдено')

				+oneNews('news-single.html',
					'СКР добился возбуждения уголовного дела против судьи из Чечни со второй попытки', '15 декабря, 2005', '2005-12-15',
					'/img/one-news__img--1.jpg',
					'Сегодня ВККС дала согласие на возбуждение уголовного дела против судьи АС Чеченской Республики Алу Бачаева. Его подозревали в вынесении заведомо неправосудных решений. Два года назад ВККС не дала согласия следователям, однако по их жалобе Верховный суд решение коллегии отменил.')
				
				+oneNews('news-single.html',
					'В рентных отношениях выявили нарушения закона', '17 января, 2023', '2023-01-17',
					'/img/one-news__img--2.jpg',
					'Министерство юстиции (Минюст) России готовит законопроект для улучшения правового регулирования рентных отношений, сообщается на сайте ведомства. Документ предлагает внести изменения в Гражданский кодекс (ГК) РФ. Сейчас он проходит общественные обсуждения, которые продлятся до 20 апреля 2016 года.')
				
				+oneNews('news-single.html',
					'СКР добился возбуждения уголовного дела против судьи из Чечни со второй попытки', '15 декабря, 2005', '2005-12-15',
					'/img/one-news__img--1.jpg',
					'Сегодня ВККС дала согласие на возбуждение уголовного дела против судьи АС Чеченской Республики Алу Бачаева. Его подозревали в вынесении заведомо неправосудных решений. Два года назад ВККС не дала согласия следователям, однако по их жалобе Верховный суд решение коллегии отменил.')
				
				+oneNews('news-single.html',
					'В рентных отношениях выявили нарушения закона', '17 января, 2023', '2023-01-17',
					'/img/one-news__img--2.jpg',
					'Министерство юстиции (Минюст) России готовит законопроект для улучшения правового регулирования рентных отношений, сообщается на сайте ведомства. Документ предлагает внести изменения в Гражданский кодекс (ГК) РФ. Сейчас он проходит общественные обсуждения, которые продлятся до 20 апреля 2016 года.')

				+pag(1, 50)(mods=['news'])