// normalize
@import '../../bower_components/normalize-styl/_normalize'

// libraries
// grids
// @import '../../bower_components/flex-grid-framework/flex-grid-framework'
// @import '../../bower_components/slick-carousel/slick/slick-theme.css'
@import '../../bower_components/slick-carousel/slick/slick.css'

//	//	//	//	//	//	//	//	//	//
//		STYLEGUIDE				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/styleguide/reset'
@import '../blocks/styleguide/grids'
@import '../blocks/styleguide/vars'
@import '../blocks/styleguide/mixins'
@import '../blocks/styleguide/bicon'
@import '../blocks/styleguide/fonts'
@import '../blocks/styleguide/texts'
@import '../blocks/styleguide/btns'
@import '../blocks/styleguide/posing'
@import '../blocks/styleguide/pseudo'
@import '../blocks/styleguide/geometry'
@import '../blocks/styleguide/formats'
@import '../blocks/styleguide/z-indexes'

// carousel
@import '../blocks/sliders/owl.carousel.css'
@import '../blocks/sliders/fixes'

//	//	//	//	//	//	//	//	//	//
//		PAGE						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/page/page'

//	//	//	//	//	//	//	//	//	//
//		HEADER					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/header/header'

//	//	//	//	//	//	//	//	//	//
//		LOGO						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/logo/logo'

//	//	//	//	//	//	//	//	//	//
//		NAVIGATION				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/navigation/navigation'

//	//	//	//	//	//	//	//	//	//
//		BTN						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/btn/btn'
@import '../blocks/btn/vars'

//	//	//	//	//	//	//	//	//	//
//		BURGER					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/burger/burger'

//	//	//	//	//	//	//	//	//	//
//		MAIN-TEXT				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/main-text/main-text'

//	//	//	//	//	//	//	//	//	//
//		SMALL-TITLE				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/small-title/small-title'

//	//	//	//	//	//	//	//	//	//
//		PROMO						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/promo/promo'

//	//	//	//	//	//	//	//	//	//
//		ACT						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/act/act'

//	//	//	//	//	//	//	//	//	//
//		RATING					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/rating/rating'

//	//	//	//	//	//	//	//	//	//
//		VOITING					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/voiting/voiting'

//	//	//	//	//	//	//	//	//	//
//		COLOR-BAR				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/color-bar/color-bar'

//	//	//	//	//	//	//	//	//	//
//		DETAIL					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/detail/detail'

//	//	//	//	//	//	//	//	//	//
//		ABOUT-ACT				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/about-act/about-act'

//	//	//	//	//	//	//	//	//	//
//		DIAGRAM					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/diagram/diagram'

//	//	//	//	//	//	//	//	//	//
//		TYPE-TABS				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/type-tabs/type-tabs'

//	//	//	//	//	//	//	//	//	//
//		SCRL-AREA				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/scrl-area/scrl-area'

//	//	//	//	//	//	//	//	//	//
//		TEXT						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/text/text'

//	//	//	//	//	//	//	//	//	//
//		SIDES						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/sides/sides'

//	//	//	//	//	//	//	//	//	//
//		SECTION					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/section/section'

//	//	//	//	//	//	//	//	//	//
//		OPINION					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/opinion/opinion'

//	//	//	//	//	//	//	//	//	//
//		USAGE						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/usage/usage'

//	//	//	//	//	//	//	//	//	//
//		COMMENT					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/comment/comment'










//	//	//	//	//	//	//	//	//	//
//		KLICHKO					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/klichko/klichko'