// normalize
@import '../../bower_components/normalize-styl/_normalize'

// libraries
// grids
// @import '../../bower_components/flex-grid-framework/flex-grid-framework'
// @import '../../bower_components/slick-carousel/slick/slick-theme.css'
@import '../../bower_components/slick-carousel/slick/slick.css'

//	//	//	//	//	//	//	//	//	//
//		STYLEGUIDE				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/styleguide/reset'
@import '../blocks/styleguide/grids'
@import '../blocks/styleguide/vars'
@import '../blocks/styleguide/mixins'
@import '../blocks/styleguide/bicon'
@import '../blocks/styleguide/fonts'
@import '../blocks/styleguide/texts'
@import '../blocks/styleguide/posing'
@import '../blocks/styleguide/pseudo'
@import '../blocks/styleguide/geometry'
@import '../blocks/styleguide/formats'
@import '../blocks/styleguide/z-indexes'
@import '../blocks/styleguide/animations'

// carousel
@import '../blocks/sliders/owl.carousel.css'
@import '../blocks/sliders/fixes'

//	//	//	//	//	//	//	//	//	//
//		PAGE						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/page/page'

//	//	//	//	//	//	//	//	//	//
//		HEADER					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/header/header'

//	//	//	//	//	//	//	//	//	//
//		MAIN						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/main/main'

//	//	//	//	//	//	//	//	//	//
//		FOOTER					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/footer/footer'

//	//	//	//	//	//	//	//	//	//
//		LOGO						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/logo/logo'

//	//	//	//	//	//	//	//	//	//
//		NAVIGATION				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/navigation/navigation'

//	//	//	//	//	//	//	//	//	//
//		BTN						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/btn/btn'
@import '../blocks/btn/vars'

//	//	//	//	//	//	//	//	//	//
//		BURGER					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/burger/burger'

//	//	//	//	//	//	//	//	//	//
//		MAIN-TEXT				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/main-text/main-text'

//	//	//	//	//	//	//	//	//	//
//		SMALL-TITLE				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/small-title/small-title'

//	//	//	//	//	//	//	//	//	//
//		PROMO						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/promo/promo'

//	//	//	//	//	//	//	//	//	//
//		ACT						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/act/act'
@import '../blocks/act/ie10'

//	//	//	//	//	//	//	//	//	//
//		RATING					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/rating/rating'

//	//	//	//	//	//	//	//	//	//
//		VOITING					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/voiting/voiting'

//	//	//	//	//	//	//	//	//	//
//		COLOR-BAR				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/color-bar/color-bar'

//	//	//	//	//	//	//	//	//	//
//		DETAIL					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/detail/detail'
@import '../blocks/detail/ie10'

//	//	//	//	//	//	//	//	//	//
//		ABOUT-ACT				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/about-act/about-act'
@import '../blocks/about-act/ie10'

//	//	//	//	//	//	//	//	//	//
//		DIAGRAM					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/diagram/diagram'
@import '../blocks/diagram/ie10'

//	//	//	//	//	//	//	//	//	//
//		TYPE-TABS				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/type-tabs/type-tabs'

//	//	//	//	//	//	//	//	//	//
//		SCRL-AREA				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/scrl-area/scrl-area'

//	//	//	//	//	//	//	//	//	//
//		TEXT						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/text/text'

//	//	//	//	//	//	//	//	//	//
//		SIDES						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/sides/sides'
@import '../blocks/sides/ie10'
@import '../blocks/sides/ie11'

//	//	//	//	//	//	//	//	//	//
//		SECTION					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/section/section'

//	//	//	//	//	//	//	//	//	//
//		OPINION					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/opinion/opinion'

//	//	//	//	//	//	//	//	//	//
//		USAGE						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/usage/usage'
@import '../blocks/usage/ie10'

//	//	//	//	//	//	//	//	//	//
//		COMMENT					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/comment/comment'

//	//	//	//	//	//	//	//	//	//
//		PAGINATION				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/pagination/pagination'

//	//	//	//	//	//	//	//	//	//
//		TEXTAREA					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/textarea/textarea'

//	//	//	//	//	//	//	//	//	//
//		BTN-SUBMIT				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/btn-submit/btn-submit'

//	//	//	//	//	//	//	//	//	//
//		NUMBER					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/number/number'

//	//	//	//	//	//	//	//	//	//
//		SOCIAL					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/social/social'

//	//	//	//	//	//	//	//	//	//
//		MODAL						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/modal/modal'

//	//	//	//	//	//	//	//	//	//
//		RATE						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/rate/rate'

//	//	//	//	//	//	//	//	//	//
//		BREADCRUMBS				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/breadcrumbs/breadcrumbs'

//	//	//	//	//	//	//	//	//	//
//		EXPAND					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/expand/expand'

//	//	//	//	//	//	//	//	//	//
//		SCI-ENTER				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/soc-enter/soc-enter'

//	//	//	//	//	//	//	//	//	//
//		INPUT						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/input/input'

//	//	//	//	//	//	//	//	//	//
//		CHECKBOX					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/checkbox/checkbox'

//	//	//	//	//	//	//	//	//	//
//		FORM						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/form/form'

//	//	//	//	//	//	//	//	//	//
//		LOGIN						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/login/login'

//	//	//	//	//	//	//	//	//	//
//		CLOSE						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/close/close'

//	//	//	//	//	//	//	//	//	//
//		FEEDBACK					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/feedback/feedback'

//	//	//	//	//	//	//	//	//	//
//		WHITE MODAL				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/white-modal/white-modal'

//	//	//	//	//	//	//	//	//	//
//		TIMELINE					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/timeline/timeline'
@import '../blocks/timeline/mods'

//	//	//	//	//	//	//	//	//	//
//		QUOTE						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/quote/quote'

//	//	//	//	//	//	//	//	//	//
//		ERROR						//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/error/error'

//	//	//	//	//	//	//	//	//	//
//		STAT-DIAGRAM			//
//	//	//	//	//	//	//	//	//	//
// @import '../blocks/stat-diagram/stat-diagram'

//	//	//	//	//	//	//	//	//	//
//		ONE-STAT					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/one-stat/one-stat'










//	//	//	//	//	//	//	//	//	//
//		KLICHKO					//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/klichko/klichko'