// normalize
@import '../../bower_components/normalize-styl/_normalize'

// libraries
// grids
// @import '../../bower_components/flex-grid-framework/flex-grid-framework'
// @import '../../bower_components/slick-carousel/slick/slick-theme.css'
@import '../../bower_components/slick-carousel/slick/slick.css'
// @import '../../bower_components/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css'
// @import '../../bower_components/bootstrap/dist/css/bootstrap.css'
@import '../blocks/ui/ui.css'
@import '../../bower_components/Croppie/croppie.css'

//	//	//	//	//	//	//	//	//	//
//		STYLEGUIDE				//
//	//	//	//	//	//	//	//	//	//
@import '../blocks/styleguide/reset'
@import '../blocks/styleguide/grids'
@import '../blocks/styleguide/vars'
@import '../blocks/styleguide/mixins'
@import '../blocks/styleguide/bicon'
@import '../blocks/styleguide/fonts'
@import '../blocks/styleguide/texts'
@import '../blocks/styleguide/posing'
@import '../blocks/styleguide/pseudo'
@import '../blocks/styleguide/geometry'
@import '../blocks/styleguide/formats'
@import '../blocks/styleguide/z-indexes'
@import '../blocks/styleguide/animations'

// carousel
@import '../blocks/sliders/owl.carousel.css'
@import '../blocks/sliders/fixes'

// blocks
@import 'blocks'