extends ../blocks/template/template

block page_id
	-var page_id		= 'users'
	-var withKlichko	= false
	-var qoute			= false

block title
	title Пользователи

block content
	+main(class='main--bg')
		.page__content
			+breadcrumbs
				+brItem('Статистика пользователей')

			+pageTitle(1, 'Статистика пользователей')

			//- +section(mods=['page'])
			//- 	+pageTitle(2, 'Пол / Возраст')(mods=['centered'])
			//- 	+sDiag('img/stat-diagram__img.png')
			//- 		+sdlItem('Мужчины')(mods=['blue'])
			//- 		+sdlItem('Женщины')(mods=['green'])

			section.page__stats
				//- +oneStat('Возраст (мужчины)', 5)
				//- 	+osLegend([
				//- 		'0 - 17',
				//- 		'18 - 30',
				//- 		'30 - 50',
				//- 		'Старше 50',
				//- 	], ['62', '22', '15', '8'])

				//- +oneStat('Возраст (женщины)', 6)
				//- 	+osLegend([
				//- 		'0 - 17',
				//- 		'18 - 30',
				//- 		'30 - 50',
				//- 		'Старше 50',
				//- 	], ['62', '22', '15', '8'])

				+oneStat('Пол / Возраст', 'bars')(age)

				+oneStat('Статус', 1)
					+osLegend([
						'холост/не замужем',
						'женат/замужем'
					], ['62', '22'])
				
				+oneStat('Карьера', 2)
					+osLegend([
						'Штатный сотрудник',
						'Руководитель ср. звена',
						'Топ-менеджер',
						'Предприниматель',
						'Фрилансер',
						'Безработный'
					], ['62', '22', '15', '8', '3', '0,5'])
				
				+oneStat('Религия', 3)
					+osLegend([
						'Христианство',
						'Ислам',
						'Иудаизм',
						'Буддизм',
						'Индуизм',
						'Другое'
					], ['62', '22', '15', '8', '3', '0,5'])
				
				+oneStat('Образование', 4)
					+osLegend([
						'Среднее',
						'Технической',
						'Высшее',
						'Ученая степень',
					], ['62', '22', '15', '8'])
				
				+oneStat('География', 5)
					+osLegend([
						'Москва',
						'Санкт-Петербург',
						'Самара',
						'Анапа',
						'Краснодар',
						'Другие'
					], ['62', '22', '15', '8', '3', '0,5'])
				
				+oneStat('Политические убеждения', 6)
					+osLegend([
						'Единая Россия',
						'Яблоко',
						'ЛДПР',
						'СПС',
						'КПРФ',
						'СР',
						'Другое'
					], ['62', '22', '15', '8', '3', '0,5', '32,5'])