.header
	padding 15px 0 18px
	background-color white
	// position fixed
	position absolute
	top 0
	left 0
	width 100%
	box-shadow 0 1px 10px black
	min-width 320px

	&__wrapper
		@extend $pad-row, $va-middle, $font-reset, $just-between
	
	@media (min-width tablet)
		position static !important