.form
	&--login
		display none
	
	&--confirm
		width 210px
	
	&--show
		display flex
		flex-wrap wrap
		justify-content space-between
	
	&__text
		@extend $small-text
		
		text-align center
		margin-bottom 30px
	
	&__forgot
		@extend $btn-reset, $small-text
		slow color
		
		color gray-light
		margin-bottom 15px
		
		&:hover
			color black
	
	@media (min-width modal-bp)
		&__forgot
			align-self center
			margin-bottom 0